<section class="container-fluid inner-bg " id="collections">
  <div class="row collection-navigation" id="collectionnavigation">
    <div class="col-12">
      <app-decollection-nav id="innerNav"></app-decollection-nav>
    </div>
  </div>
  <div class="row collection-list justify-content-center" data-spy="scroll" data-target="#collectionnavigation" data-offset="100">
    <div class="col-12 banner-bg d-none d-lg-block" [ngStyle]="Desbgstyle()"></div>
    <div class="col-12 banner-bg d-block d-lg-none d-xl-none" [ngStyle]="DesbgstyleMobile()"></div>
    <div class="col-12">
      <div class="container">
        <div class="row collection">
          <div class="col-md-3 col-sm-6" *ngFor="let product of viewcollection.productList">
            <a [routerLink]="['/collections', viewcollection.cName, product.id]"><div class="card fade-in">
              <div class="card-body">
                <img src="{{product.image1}}" class="img-fluid" alt="">
                <div class="collection-name">
                  <h3>{{product.name}}</h3>
                  <p>{{product.excerpt}}</p>
                </div>
              </div>
              <button class="btn btn-primary btn-block">VIEW MORE</button>
            </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
