.preLine{
    white-space: pre-line;
}

#aboutus{
	
	.banner{
		background: #fff;
		background-position: top;
		padding-top: 150px;
		padding-bottom: 100px;
		font-weight: 300;
		color: #000;
		img{
			margin-top: 30px;
		}
		@media screen and (max-width: 600px){
			padding-top: 80px;
		}
	}
	.timeline-section{
		background: #fff;
		padding-top: 50px;
		padding-bottom: 50px;
		.timeline {
			text-align: center;
			padding-top: 50px;
			padding-bottom: 50px;
			.year {
				display: inline-block;
				font-size: 36px;
				font-weight: bold;
				position: relative;

				span {
					display: inline-block;
					padding-bottom: 6px;  
				}

				&:after {
					content: "";
					display: block;
					width: 80%;
					margin: auto;
					height: 1px;
					background: green;
				}

				&--end {

					&:before {
						content: "";
						display: block;
						width: 80%;
						margin: auto;
						height: 1px;
						background: green;
					}

					&:after {
						content: none;
					}
				}
			}

			.days {
				list-style-type: none;
				margin: 0;
				padding: 0;

				.day {
					width: 100%;
					float: left;

					.events {
						position: relative;
						float: left;
						border-right: 1px solid #aa0000;
						padding: 30px;
						text-align: right;
						width: 50%;
						@media screen and (max-width: 600px) {
							width: 100%;
							margin-bottom: 30px;
						}
						&:after {
							content: "";
							width: 40%;
							display: inline-block;
							height: 1px;
							background: #aa0000;

							position: absolute;
							right: 0;
						}

						.date {
							position: absolute;
							top: 50%;
							left: 100%;
							transform: translateY(-50%);
							font-weight: 600;
							padding: 30px;
							text-align: left;

							color: #aa0000;
							font-size: 24px;
							white-space: nowrap;
							@media screen and (max-width: 600px) {
								top: 0;
								left: 58%;
							}
						}

						.day__img {
							margin-right: -30px;
							position: relative;
							overflow: hidden;

							img {
								display: block;
								float: right;
							}

							.caption {
								position: absolute;
								margin: 0;

								bottom: 0;
								right: 0;
								padding: 20px;
								background: rgba(#000, 0.7);
								color: #fff;
							}
						}
					}

					&:nth-child(odd) {
						.events {
							width: calc(50% + 1px);
							float: right;
							border-right: 0;
							border-left: 1px solid #aa0000;
							text-align: left;
							@media screen and (max-width: 600px) {
								width: 100%;
							}
							&:after {
								right: auto;
								left: 0;
							}

							.date {
								left: auto;
								right: 100%;
								text-align: right;
								@media screen and (max-width: 600px) {
									left: 0;
									top: 0;
								}
							}

							.day__img {
								margin-right: auto;
								margin-left: -30px;

								img {
									float: left;
								}

								.caption {
									right: auto;
									left: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	.theam-heading{
		color: #000;
	}
	h2.theam-heading{
		margin: 0;
	}
}