<section  id="aboutus" >
	<div class="container-fluid banner">
		<div class="container ">
			<div class="row align-items-top">
				<div class="col-12 col-lg-6">
					<h2 class="theam-heading">{{bannerHeading}}</h2>
				</div>
			</div>
			<div class="row align-items-top">
				<div class="col-12 col-lg-6 order-lg-1 order-2 first">
					<p class="fade-in-up preLine">
						{{bannerPara}}
					</p>
				</div>
				<div class="col-12 col-lg-6 order-lg-2 order-1 last fade-in-up">
					<img src="{{abtBannerImg}}" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="timeline-section">
		<div class="">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="theam-heading">TIMELINE</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="timeline">

							<ul class="days" >
								<li class="day" *ngFor="let timedata of timelineData">
									<div class="events ">
										<p>{{timedata?.description}}</p>
										<div class="day__img">
											<img src="{{timedata.image}}" class="mt-3" alt="">
											<p class="caption">
												{{timedata?.excerpt}}
											</p>
										</div>
										
										<div class="date ">{{timedata?.year}}</div>
									</div>
								</li>

								<!-- <li class="day">
									<div class="events">
										<div class="day__img">
											<img src="http://placehold.it/400x300" alt="" />
											<p class="caption">
												Lorem ipsum dolor sit amet.
											</p>
										</div>
										<div class="date">2009</div>
									</div>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>