#collections{
	.theam-heading{
		color: #000;
	}
	.banner-bg{
		animation: background-anim 0.8s linear;
		background-size: 100% !important;
	}
	.collection{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.sticky {
     position: fixed;
    top: 55px;
    z-index: 9999;
    left: 0;
    right: 0;
    background: #fff;
}
@media only screen and (max-width: 480px) and (min-width: 320px){
	.sticky{
		top: 50px;
	}	
}
@keyframes background-anim{
	0%{
		background-size: 150%;
		opacity: 0.3;
	}
	100%{
		background-size: 100%;
		opacity: 1;
	}
}