<footer class="fp-noscroll container-fluid" [ngClass]="_isHome?'hide':''">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a class="footer-logo" href="#"><img src="../assets/images/Blade-Logo.svg" alt=""></a>
        <div class="mt-40">
          <ul>
            <li *ngFor="let footerLink of footerLinks"><a href="{{footerLink.link}}">{{footerLink.menu}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 plr0">
        <div class="row footer-heading">
          <div class="col-12 plr0">
            <h5>COLLECTION
              <hr />
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li *ngFor="let collectionOne of collectionListOne">
                <a (click)="routeCollection(collectionOne.slug)">{{collectionOne.name}}</a>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li *ngFor="let collectionTwo of collectionListTwo">
                <a (click)="routeCollection(collectionTwo.slug)">{{collectionTwo.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 plr0">
        <div class="row footer-heading ml-15">
          <div class="col-12 plr0">
            <h5>CONTACT US
              <hr />
            </h5>
          </div>
        </div>
        <div class="row ml-15">
          <div class="col">
            <p *ngIf="address!=''" class="addr">{{address}}</p>
            <p *ngIf="call!=''"><a href="tel:{{call}}">Tel: {{call}}</a></p>
            <p *ngIf="fax!=''">Fax: {{fax}}</p>
            <P *ngIf="mail!=''"><a href="mailto:{{mail}}">{{mail}}</a></P>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 plr0">
        <div class="row footer-heading">
          <div class="col-12 plr0">
            <h5>STAY CONNECTED
              <hr />
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Join our newsletter to stay on top of current information and events.</p>
            <form #subcribe="ngForm" (ngSubmit)="onSubmit(subcribe)" class="form-inline mt-20">
              <div class="input-group mb-2 mr-sm-2">
                <input type="email" class="form-control" name="subcribeEmail" placeholder="Email*" ngModel
                #subcribeEmail="ngModel" required>
                <div class="input-group-prepend">
                  <div class=""><input type="submit" value="SUBSCRIBE" class="btn" size="65"></div>
                </div>
              </div>
              <p class="m-0">{{msg}}</p>
            </form>
            <div class="social-icon">
              <a target="_blank" href="{{global.fbLink}}" class="inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.07 13">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #dcb305;
                      }
                    </style>
                  </defs>
                  <title>Facebook</title>
                  <g id="Layer_1" data-name="Layer 1">
                    <g id="Layer_1-1" data-name="Layer 1">
                      <path class="cls-1" d="M1.31,2.52V4.31H0V6.5H1.31V13H4V6.5h1.8s.17-1,.25-2.2H4V2.8a.63.63,0,0,1,.58-.52H6.07V0h-2C1.24,0,1.31,2.19,1.31,2.52Z"></path>
                    </g>
                  </g>
                </svg>
              </a>
              <a target="_blank" href="{{global.twLink}}" class="inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #dcb305;
                      }
                    </style>
                  </defs>
                  <title>twitter</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_2-1" data-name="Layer 1">
                      <path class="cls-1" d="M4.72,12a8.62,8.62,0,0,0,8.75-8.62c0-.13,0-.26,0-.39A6.38,6.38,0,0,0,15,1.42a6.36,6.36,0,0,1-1.77.48A3.07,3.07,0,0,0,14.58.22,6.13,6.13,0,0,1,12.63,1,3.12,3.12,0,0,0,8.28.82a3,3,0,0,0-.89,2.9A8.81,8.81,0,0,1,1,.55,3,3,0,0,0,2,4.6,3.25,3.25,0,0,1,.6,4.22v0a3,3,0,0,0,2.47,3,3.11,3.11,0,0,1-1.39,0,3.07,3.07,0,0,0,2.87,2.1A6.25,6.25,0,0,1,0,10.64,8.85,8.85,0,0,0,4.72,12"></path>
                    </g>
                  </g>
                </svg></a>
                <a target="_blank" href="{{global.ytLink}}" class="inline-block">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" viewBox="0 0 25 15" style="enable-background:new 0 0 25 15;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      fill: #FFFFFF;
                    }
                  </style>
                  <g>
                    <path class="st0" d="M22.9,2.4c-0.3-1.1-1.2-2-2.3-2.1C17.9,0,15.2,0,12.5,0C9.8,0,7.1,0,4.4,0.3c-1.1,0.1-2.1,1-2.3,2.1
                    C1.7,4,1.7,5.8,1.7,7.5s0,3.5,0.4,5.1c0.3,1.1,1.2,2,2.3,2.1C7.1,15,9.8,15,12.5,15c2.7,0,5.4,0,8.1-0.3c1.1-0.1,2.1-1,2.3-2.1
                    c0.4-1.6,0.4-3.4,0.4-5.1C23.3,5.8,23.3,4,22.9,2.4z M9.7,10.8c0-2.4,0-4.7,0-7.1c2.3,1.2,4.5,2.4,6.8,3.6
                    C14.3,8.5,12,9.7,9.7,10.8z" />
                  </g>
                </svg>
              </a>
              <a target="_blank" href="{{global.inLink}}" class="inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_4-1"
                x="0px" y="0px" width="512px" height="512px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;"
                xml:space="preserve" class="">
                <g>
                  <g>
                    <path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z"
                    data-original="#000000" class="" fill="#dcb305"></path>
                    <path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"
                    data-original="#000000" class="" fill="#dcb305"></path>
                    <path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z"
                    data-original="#000000" class="" fill="#dcb305"></path>
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</footer>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-12">
        <!-- <p>Terms Of Use & Privacy Policy Al Wafaa | Copyright © 2013 Blade Watches</p> -->
        <p>{{copyright}}</p>
      </div>
      <div class="col-md-6 col-sm-4 col-12">
        <p class="float-right">Powered By <a href="http://www.redbaton.in/" target="_blank">Red Baton</a></p>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg custom-modal" id="leadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="">
      <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
      </button>
    </div>
    <div class="modal-body custom-body">
      <div class="container-fluid">
        <div class="row align-items-center ">
          <div class="col-12 col-md-6 col-lg-6 p-4">
            <h2>{{popupHead}}</h2>
            <p>{{popupDes}}</p>
            <form #popup="ngForm" (ngSubmit)="popupSubmit(popup)">
              <div class="row modal-form ">
                <div class="col-12">
                  <input class="form-control" name="name" tabindex="1" placeholder="Name" type="text" required ngModel #name="ngModel" (keyup.Tab)="keytab($event)" minlength="3">
                  <input class="form-control" name="email" tabindex="2" placeholder="Email" type="email" required ngModel #email="ngModel" (keyup.Tab)="keytab($event)">
                  <input class="form-control" name="phone" tabindex="3" placeholder="Mobile No." type="tel" ngModel #phone="ngModel" (keyup.Tab)="keytab($event)" minlength="10" maxlength="10">
                  <p class="text-danger m-0">{{errMsg}}</p>
                  <input class="btn theme-btn-red mb-4" tabindex="4" name="" type="submit" value="Submit">
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 col-md-6 col-lg-6 p-0" [ngStyle]="bgstyle()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- thankyou modal -->
<div class="modal fade custom-modal-2" id="thankyouModal" role="dialog" aria-labelledby="">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Blade Watches</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Thank you for subscribing!</p>
      </div>
    </div>
  </div>
</div>
<!-- thankyou modal end-->
<!-- thankyouContact modal -->
<div class="modal fade custom-modal-2" id="thankyouContactModal" role="dialog" aria-labelledby="">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Blade Watches</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Message Sent Successfully!</p>
      </div>
    </div>
  </div>
</div>
<!-- thankyouContact modal end-->
