footer {
  background: #000 url(../../assets/images/footer-background.png) center no-repeat;
  background-size: cover;
  padding: 30px 15px;
  font-size: 14px;
  color: #fff;
  font-family: 'gotham', sans-serif;

  // padding-top: 80px;
  // padding-bottom: 70px;

  .social-icon {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      svg {
        width: 25px;
        height: 15px;

        .cls-1 {
          fill: #ffffff;
        }
      }

      #Layer_4-1 {
        g {
          path {
            fill: #ffffff;
          }
        }
      }

      i {
        font-size: 18px;
        vertical-align: sub;
      }
    }
  }

  .footer-logo {
    img {
      width: 65%;
    }
  }

  .col {
    padding: 0px;
  }

  

  .footer-heading {
    hr {
      border-top: 2px solid rgb(255, 255, 255);
      width: 40px;
      margin: 12px 0;
      margin-right: auto;
    }

    h5 {
      margin: 0px;
      color: #fff;
      font-size: 16px;
      font-family: 'us';
      letter-spacing: 1px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }

  p {
    margin-bottom: 15px;
    width: 85%;
  }

  .form-inline .input-group {
    width: 90%;
  }

  .form-control {
    background: transparent;
    color: #fff;
    border-color: #fff;
    border-radius: 0px;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: #fff;
    }

    font-size: 14px;
  }

  .btn {
    border-radius: 0px;
    font-size: 16px;
    font-family: 'us';
  }

  @media only screen and (max-width: 990px) {
    .footer-logo {
      img {
        width: 30%;
      }
    }

    .mt-40 {
      margin-top: 20px;
    }

    .col-12 {
      margin-bottom: 20px;
    }

    .col {
      padding: 0px 15px;
    }

    .ml-15 {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .social-icon {
    a {
      color: #fff;
      margin-right: 15px;
    }
  }

  @media only screen and (max-width: 600px) {

    p,
    a {
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .plr0 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  footer {

    a,
    p {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .plr0 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  footer {
    form {
      .input-group-prepend {
        .btn {
          background-color: #fff;
          color: #000;
        }
      }
    }

    .ml-15 {
      p.addr {
        margin-right: 35px;
      }
    }
  }
}

.plr0 {
  padding-left: 0px;
  padding-right: 0px;
}

.copyright {
  background: #000;
  padding: 10px;

  p {
    font-size: 12px;
    color: #fff;
    margin: 0;
    line-height: 2;
  }

  a {
    color: #fff;
  }
}

/* modal css */

.custom-modal {
  z-index: 999999 !important;

  .close-btn {
    position: absolute;
    right: 0;
    margin: 15px 10px;
    z-index: 99999;
    color: #ffffff;
    opacity: 1;
    background:rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 0;
  }

  .modal-content {
    background-color: #fff;

    // background: url('../../assets/images/Blade-Watches_4.png') center no-repeat;
    height: auto;
    background-size: contain;
    border: none;
  }

  .custom-body {
    padding: 0px;

    h2 {
      color: #000;
      font-size: 2rem;
      padding: 25px 0px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: 'us';
      font-weight: 700;
    }

    p {
      color: #5f6165;
      font-family: 'gotham';
    }

    .modal-form {
      .form-control {
        margin-bottom: 30px;
        border: 0px;
        background-color: transparent;
        border-bottom: 1px solid #ccc;
        border-radius: 0px;
        outline: none;
        box-shadow: none;
        font-size: 14px;
      }
    }
  }
}
*::-webkit-input-placeholder {
  color:#5f6165;
}

/******  thankyou modal ******/
.custom-modal-2 {
  .modal-content {
    border-radius: 5px;

    .modal-header {
      background-color: #AA0202;
      color: #ffffff;

      .close {
        color: #ffffff;
      }
    }

    .modal-body {
      p {
        padding: 2rem;
        text-align: center;
        font-size: 20px;
      }
    }
  }
}