<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <h1>welcome to angular</h1>
    </div>
  </div>
</div> -->