/* You can add global styles to this file, and also import other style files */
// @import url(https://fonts.googleapis.com/css?family=gotham:300,400,500,700,900);

@import "functions";
@import "variables";
@import "mixins";
@import "print";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";

// @import 'tables';
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";

// @import 'badge';
// @import 'jumbotron';
// @import 'alert';
// @import 'progress';
// @import 'media';
// @import 'list-group';
@import "close";
@import "modal";
@import "tooltip";

// @import 'popover';
// @import 'carousel';
@import "utilities";

@font-face {
  font-family: 'us';
  src: url("./assets/fonts/us.woff") format("woff"), url("./assets/fonts/us.ttf") format("truetype");
}

@font-face {
  font-family: 'gotham';
  src: url("./assets/fonts/Gotham-Light.woff") format("woff"), url("./assets/fonts/GothamLight.ttf") format("truetype");
}

body {
  font-family: 'gotham', sans-serif;
  line-height: 1.6;
  font-weight: 700;

  // background-color: #000;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-15 {
  margin-left: 15px;
}

input[type="submit"] {
  background-color: #e1e1e1;
}

.theam-heading {
  font-size: 75px;
  font-family: 'us', sans-serif;
  color: #000;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    margin-top: 50px;
  }
}

.theam-heading-content {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.theme-btn-red {
  background: #B20000 !important;
  color: #fff;
  border-radius: 0px;
  padding: 10px 30px;
  text-transform: uppercase;
}

.close {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@media only screen and (max-width: 990px) {
  .cls-1 {
    fill: #fff !important;
  }
}

.collection-navigation {
  background-color: #fff;

  .nav {
    margin: auto;
    width: fit-content;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;

    .nav-item {
      padding-top: 5px;
      padding-bottom: 5px;
      text-transform: uppercase;

      a {
        color: #B3B3B3;
      }

      .active {
        color: #333;
        font-weight: 900;
        border-bottom: 1px solid #000;
      }
    }

    @media only screen and (max-width: 990px) {
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      width: auto;
      border: none;
    }
  }
}

.view-all {
  .btn {
    margin: 0 auto;
    text-align: center;
    transition: all ease .5s;
    letter-spacing: 3px;
    position: relative;
    width: auto;
    color: #fff;
    padding: 0px 0px;
    font-size: 18px;
    vertical-align: middle;
    line-height: 1;

    &:after {
      content: "\f30f";
      font-family: "Ionicons";
      transition: all ease .5s;
      position: relative;
      opacity: 0;
      left: -12px;
      font-size: 20px;
      vertical-align: middle;
    }

    &:hover {
      width: auto;
      padding: 0px 15px;

      &:after {
        content: "\f30f";
        font-family: "Ionicons";
        transition: all ease .5s;
        opacity: 1;
        left: 12px;
      }
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #B20000;
  z-index: 99999;
}

.modal-backdrop.show {
  opacity: 0.9;
}

.collection-list {
  background: #fff;
}

.collection {
  .swiper-slide {
    border: 0px;
  }

  .card {
    border-radius: 0px;
    text-align: center;
    min-height: auto;
    overflow: hidden;
    border: none;
    margin-bottom: 15px;
    margin-top: 15px;

    .card-body {
      border: none;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      h3 {
        font-family: 'us', sans-serif;
        font-size: 16px;
        color: #333;
      }

      p {
        font-family: 'gotham', sans-serif;
        font-weight: 700;
        font-size: 14px;
        margin: 0px;
        color: #333;
      }

      img {
        width: 100%;
        margin: 0px auto 15px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      .collection-name {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }

    .btn-primary {
      border-radius: 0px;
      position: absolute;
      bottom: 0;
      background: #B20000;
      color: #fff;
      font-family: 'us', sans-serif;
      text-transform: uppercase;
      border: none;
      padding: 15px;
      font-size: 16px;
      -ms-transform: translateY(55px);
      -webkit-transform: translateY(55px);
      transform: translateY(55px);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      letter-spacing: 1px;

      &:focus {
        background: inherit;
      }

      &:hover {
        color: #fff;
      }
    }

    &:hover {
      background: #ffffff;

      .card-body {
        -ms-transform: scale(0.9) translateY(-30px);
        -webkit-transform: scale(0.9) translateY(-30px);
        transform: scale(0.9) translateY(-30px);

        // opacity: 0.7;
        // .collection-name{
        //   -ms-transform: translateY(-50px);
        //   -webkit-transform: translateY(-50px);
        //   transform: translateY(-50px);
        //   -webkit-transition: all 0.3s ease-in-out;
        //   transition: all 0.3s ease-in-out;
        // }
        // img{
        //   transform: scale(0.75);
        //   -webkit-transition: all 0.3s ease-in-out;
        // transition: all 0.3s ease-in-out;
        // }

      }

      .btn-primary {
        -ms-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 1;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0 !important;
}

#fp-nav {
  top: 40% !important;

  ul {
    li {
      a {
        span {
          background: #000 !important;
        }
      }
    }
  }
}

#fp-nav {
  ul {
    li {
      width: 40px !important;

      a.active {
        span {
          height: 2px !important;
          width: 35px !important;
          margin: 0px 0 0 -15px !important;
          border-radius: 0 !important;
        }
      }

      &:hover {
        a.active {
          span {
            height: 2px !important;
            width: 35px !important;
            margin: 0px 0 0 -15px !important;
            border-radius: 0 !important;
          }
        }

        a {
          span {
            width: 24px !important;
            height: 2px !important;
          }
        }
      }

      a {
        span {
          border-radius: 0 !important;
          height: 1px !important;
          width: 20px !important;
        }
      }
    }
  }

  &.right {
    right: 5px !important;
  }
}

.fp-slidesNav {
  ul {
    li {
      width: 40px;

      a.active {
        span {
          height: 2px !important;
          width: 35px !important;
          margin: 0px 0 0 -15px !important;
          border-radius: 0 !important;
        }
      }

      &:hover {
        a.active {
          span {
            height: 2px !important;
            width: 35px !important;
            margin: 0px 0 0 -15px !important;
            border-radius: 0 !important;
          }
        }

        a {
          span {
            width: 24px !important;
            height: 2px !important;
          }
        }
      }

      a {
        span {
          border-radius: 0 !important;
          height: 1px !important;
          width: 20px !important;
        }
      }
    }
  }
}

// #fp-nav ul li a.active span,
// #fp-nav ul li:hover a.active span,
// .fp-slidesNav ul li a.active span,
// .fp-slidesNav ul li:hover a.active span {
//     height: 2px !important;
//     width: 35px !important;
//     margin: 0px 0 0 -15px !important;
//     border-radius: 0 !important;
// }

// #fp-nav ul li a span,
// .fp-slidesNav ul li a span {
//     border-radius: 0 !important;
//     height: 1px !important;
//     width: 20px !important;
// }

// #fp-nav ul li:hover a span,
// .fp-slidesNav ul li:hover a span {
//     width: 24px !important;
//     height: 2px !important;
// }

select {
  -webkit-appearance: none;
  border-radius: 0px !important;
  min-width: 120px;
  background-color: transparent !important;
  color: #fff !important;
  margin-right: 10px;
  outline: none;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;

  &:focus {
    box-shadow: none !important;
    border-color: #efefef !important;
  }
}

.spinner {
  opacity: 1 !important;
  background: #B20000 !important;
  z-index: 9999 !important;

  img {
    left: 0;
    right: 0;
    margin: auto;
  }
}

.inner-bg {
  // background: #000 url(assets/images/contact-bg.png) center no-repeat;
  background-position: top;
  padding-top: 100px;
}

.zoomWindow {
  background-size: cover;
}

.modal-content {
  border-radius: 0px;
  border: none;
}

.btn {
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    .collection {
      height: 450px;

      .swiper-container {
        .swiper-button-next {
          right: 40% !important;

          i {
            // font-size: 40px !important;
          }
        }

        .swiper-button-prev {
          left: 40% !important;

          i {
            // font-size: 40px !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .home {
    .collection {
      .swiper-container {
        .swiper-button-next {

          i {
            // font-size: 40px !important;
          }
        }

        .swiper-button-prev {

          i {
            // font-size: 40px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .theam-heading {
    font-size: 42px;
  }

  .theam-heading-content {
    font-size: 14px;
  }
}


.img-zoom-lens {
  position: absolute;
  /*set the size of the lens:*/
  width: 160px;
  height: 160px;
}


*::-webkit-input-placeholder {
  color: blue;
}
/* width */
*::-webkit-scrollbar {
  width: 5px !important;
  padding: 1px;
}

/* Track */
*::-webkit-scrollbar-track {
  background:transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #000000;
    border-radius: 10px;
    border: none;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}