<div class="container pg-not">
  <div class="row h-100 align-items-center">
    <div class="col-12 text-center">
      <h1>404</h1>
      <p>Go back to <br/><a [routerLink]="['/home']" class="btn theme-btn-red">HOME</a></p>
    </div>
  </div>
</div>
