<div id="">
	<ul class="nav">
	  <li class="nav-item"  *ngFor="let categorie of viewcollection.categories">
	    <a *ngIf="categorie.type == 2" class="nav-link" data-toggle="tab" routerLink="/accessories/{{categorie.slug}}" routerLinkActive="active" (click)="changeData(categorie.type == '2' ? 'accessories' : 'collections', categorie.slug)">{{categorie.name}}</a>
      <a *ngIf="categorie.type != 2" class="nav-link" data-toggle="tab" routerLink="/collections/{{categorie.slug}}" routerLinkActive="active" (click)="changeData(categorie.type == '2' ? 'accessories' : 'collections', categorie.slug)">{{categorie.name}}</a>
	  </li>
	</ul>
</div>
