#product-ind {
  &.inner-bg {
    background: #000 url(../../../assets/images/Banner-background.png) no-repeat top;
  }

  height: 100vh;

  .product-card {
    .card {
      border-radius: 0px;
      margin: 0px 50px;
      border: none;

      .card-body {
        min-height: 400px;
        padding: 30px 40px;
        background: #F8FAFB;

        .product-slider {
          background-color: #fff;
          border: 1px solid #efefef;
        }

        .zoom {
          font-size: 12px;
        }

        .product-details {
          padding: 0px 0px 0px 40px;
          display: none;

          &.active {
            display: block;
          }

          .product-title {
            font-size: 22px;
            margin-bottom: 30px;
            font-family: 'us';
            letter-spacing: 1px;
          }

          h3 {
            font-size: 18px;
            font-weight: 500;
            margin: 0px;
            font-family: 'us', sans-serif;
            letter-spacing: 1px;
          }

          p {
            font-weight: 300;
          }

          .sharing-icon {

            // p {
            //   margin-right: 30px;
            // }
            span {
              margin-left: 5px;

              a {
                color: #333;
                font-size: 20px;
              }
            }

            button {
              border: none;
              background: none;
              cursor: pointer;
              color: #5f6165;
              font-size: 1.25rem;
              &:hover,
              &:focus {
                outline: 0;
                box-shadow: none;
              }
            }
          }

          .back {

            a {
              color: #333;
              cursor: pointer;

              .ion-ios-arrow-thin-left {
                font-size: 36px;
                vertical-align: middle;
                margin-right: 5px;
                transition: all ease 0.3s;
              }

              &:hover {
                .ion-ios-arrow-thin-left {
                  margin-right: 10px;
                  transition: all ease 0.3s;
                }
              }
            }
          }
        }

        .zoomDiv {
          min-height: 100%;
          min-width: 100%;
          background-repeat: no-repeat;

          display: none;

          &.active {
            display: block;
          }
        }
      }

      @media only screen and(max-width: 990px) {
        margin: 0px 0px;
      }
    }

    @media only screen and(max-width: 990px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .swiper-container {
    width: 100%; // height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .gallery-top {
    height: auto;
    width: 100%;
    text-align: center;

    img {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .gallery-thumbs .swiper-slide {
    width: 20%;
    opacity: 0.4;

    img {
      width: 85%;
      padding: 5px;
      border: 1px solid #efefef;
    }
  }

  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }

  .button-next,
  .button-prev {
    position: absolute;
    top: 25%;
    font-size: 30px;
    color: #ccc;
    z-index: 9999;
  }

  .button-next {
    right: 0;
  }

  .button-prev {
    left: 0;
  }

  .breadcrumb {
    padding: 5px 0px;
    background: transparent;
    margin: 0px 50px;

    a {
      color: #fff;
    }
  }

  @media only screen and(max-width: 990px) {
    height: auto;

    .breadcrumb {
      margin: 0px;
    }
  }
}

.rViewSlider {
  margin: 50px 0px;

  .rbutton-next,
  .rbutton-prev {
    position: absolute;
    top: 50%;
    z-index: 999;
    font-size: 40px;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }

  .rbutton-next {
    right: 0;
    right: -15px;
  }

  .rbutton-prev {
    left: 0;
    left: -15px;
  }

  h2 {
    font-size: 36px;
    font-family: 'us';
    text-align: center;
  }
}

@media only screen and(max-width: 768px) {
  #product-ind {
    padding: 30px 0px;

    .product-card {
      .card {
        margin: 0px;
      }
    }
  }
}

@media only screen and(max-width: 500px) {
  #product-ind {
    height: auto;

    .product-card {
      .card {
        .card-body {
          padding: 0px 15px;

          .product-details {
            padding: 15px 0px;

            h3 {
              font-size: 15px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }

    .breadcrumb {
      margin: 0px;
      font-size: 12px;

      a {
        font-size: 12px;
      }
    }
  }
}
