<div class="container-fluid inner-bg smoothstate" id="product-ind">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 product-card">
        <div class="card fade-in-up">
          <div class="card-body">
            <div class="row h-100">
              <div class="col-12 col-md-5 product-slider fade-in-up">
                <swiper class="swiper-container gallery-top" #galleryTop [config]="galleryTopConfig">
                  <div class="swiper-wrapper">
                    <div *ngIf="pImg1!=null" class="swiper-slide" (mouseenter)="imageZoom('myimage');" (mouseleave)="resetZoom();">
                      <img src="{{pImg1}}" id="myimage" class="img-fluid" alt="">
                    </div>
                    <div *ngIf="pImg2!=null" class="swiper-slide" (mouseenter)="imageZoom('myimage2');" (mouseleave)="resetZoom();">
                      <img src="{{pImg2}}" id="myimage2" class="img-fluid " #elevatezoomBig [attr.data-zoom-image]="pImgH2"
                        alt="">
                    </div>
                    <div *ngIf="pImg3!=null" class="swiper-slide" (mouseenter)="imageZoom('myimage3');" (mouseleave)="resetZoom();">
                      <img src="{{pImg3}}" id="myimage3" class="img-fluid " #elevatezoomBig [attr.data-zoom-image]="pImgH3"
                        alt="">
                    </div>
                    <div *ngIf="pImg4!=null" class="swiper-slide" (mouseenter)="imageZoom('myimage4');" (mouseleave)="resetZoom();">
                      <img src="{{pImg4}}" id="myimage4" class="img-fluid " #elevatezoomBig [attr.data-zoom-image]="pImgH4"
                        alt="">
                    </div>
                  </div>
                </swiper>
                <swiper class="swiper-container gallery-thumbs" #galleryThumbs [config]="galleryThumbsConfig">
                  <div class="swiper-wrapper">
                    <div *ngIf="pImg1!=null" class="swiper-slide">
                      <img src="{{pImg1}}" class="img-fluid" alt="">
                    </div>
                    <div *ngIf="pImg2!=null" class="swiper-slide">
                      <img src="{{pImg2}}" class="img-fluid" alt="">
                    </div>
                    <div *ngIf="pImg3!=null" class="swiper-slide">
                      <img src="{{pImg3}}" class="img-fluid" alt="">
                    </div>
                    <div *ngIf="pImg4!=null" class="swiper-slide">
                      <img src="{{pImg4}}" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="button-next">
                    <i class="ion-ios-arrow-right"></i>
                  </div>
                  <div class="button-prev">
                    <i class="ion-ios-arrow-left"></i>
                  </div>
                </swiper>
              </div>
              <div class="col-12 col-md-7">
                <div class="product-details active fade-in-up">
                  <div class="row">
                    <div class="col-8">
                      <h1 class="product-title">{{pName}}</h1>
                    </div>
                    <div class="col-4 back">
                      <a (click)="goBack()" class="float-right">
                        <i class="ion-close"></i></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6" *ngFor="let attribute of pAttributes">
                      <h3>{{attribute.key}}</h3>
                      <p>{{attribute.value}}</p>
                    </div>
                  </div>
                  <div class="row mt-20">
                    <div class="col-8">
                      <div class="sharing-icon">
                        <p class="d-inline-block">Share on</p>
                        <span class="d-inline-block">
                          <button shareButton="facebook"><i class="ion-social-facebook"></i></button>
                          <button shareButton="google">
                            <svg style="padding-top:5px;" xmlns="http://www.w3.org/2000/svg" width="25" height="20"
                              viewBox="0 0 35 20">
                              <path fill="#5F6165" d="M10,8.57142857 L10,12 L15.6714286,12 C15.4428571,13.47 13.9571429,16.3142857 10,16.3142857 C6.58571429,16.3142857 3.8,13.4871429 3.8,10 C3.8,6.51428571 6.58571429,3.68571429 10,3.68571429 C11.9428571,3.68571429 13.2428571,4.51428571 13.9857143,5.22857143 L16.7,2.61428571 C14.9571429,0.985714286 12.7,1.77635684e-15 10,1.77635684e-15 C4.47142857,1.77635684e-15 -8.8817842e-16,4.47142857 -8.8817842e-16,10 C-8.8817842e-16,15.5285714 4.47142857,20 10,20 C15.7714286,20 19.6014286,15.9428571 19.6014286,10.2285714 C19.6014286,9.57142857 19.5285714,9.07142857 19.4428571,8.57142857 L10,8.57142857 Z M10,8.57142857 L34.2857143,11.4285714 L30,11.4285714 L30,15.7142857 L27.1428571,15.7142857 L27.1428571,11.4285714 L22.8571429,11.4285714 L22.8571429,8.57142857 L27.1428571,8.57142857 L27.1428571,4.28571429 L30,4.28571429 L30,8.57142857 L34.2857143,8.57142857 L34.2857143,11.4285714 L10,8.57142857 Z" />
                            </svg>
                          </button>
                          <button shareButton="twitter"><i class="ion-social-twitter"></i></button>
                          <button shareButton="whatsapp"><i class="ion-social-whatsapp"></i></button>
                          <button shareButton="pinterest"><i class="ion-social-pinterest"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="resultZoomDiv" class="zoomDiv">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fade-in-up">
          <div aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/collections', urlParams.collectionName]">Collections</a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/collections', urlParams.collectionName]">{{urlParams.collectionName}}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{pName}}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 collection rViewSlider">
        <h2>Related VIEWED</h2>
        <swiper class="swiper-container" [config]="relatedView">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let prods of otherProd">
              <a (click)="viewProd(prods.id)">
                <div class="card fade-in">
                  <div class="card-body">
                    <img src="{{prods.image1}}" class="img-fluid" alt="">
                    <div class="collection-name">
                      <h3>{{prods.name}}</h3>
                      <p>{{prods.excerpt}}</p>
                    </div>
                  </div>
                  <a class="btn btn-primary btn-block">VIEW MORE</a>
                </div>
              </a>
            </div>
          </div>
        </swiper>
        <div class="rbutton-next">
          <i class="ion-ios-arrow-right"></i>
        </div>
        <div class="rbutton-prev">
          <i class="ion-ios-arrow-left"></i>
        </div>
      </div>
    </div>
  </div>
</div>
