header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;

  // margin-bottom: 80px;
  .navbar {
    padding: 30px 0px;
    transition: all ease 0.3s;

    .navbar-brand {
      svg {
        width: 120px;
        margin-top: 10px;
        transition: all ease 0.3s;

        .cls-1 {
          fill: #0b0b0b;
        }

        @media only screen and (max-width: 990px) {
          width: 33%;
        }

        @media only screen and (max-width: 600px) {
          width: 50%;
        }
      }
    }

    .nav-item {
      // min-width: 130px;
      min-width: auto;
      text-align: center;

      .nav-link {
        color: #000;
        font-family: 'us', sans-serif;
        font-weight: 100;
        font-size: 18px;
        letter-spacing: 2px;
        width: fit-content;
        margin: auto;
        padding: 0px 20px;
        cursor: pointer;

        &:after {
          content: "";
          display: block;
          height: 2px;

          // position: absolute;
          bottom: -1px;
          width: 0px;
          background-color: #000;
          transition: all .3s ease;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }

        &.active {
          &:after {
            width: 100%;
          }
        }
      }


    }

    .nav-item:last-child {
      .nav-link {
        padding-right: 0px;
      }
    }
  }

  @media only screen and (max-width: 990px) {
    // position: relative;
    margin-bottom: 0px;
    background: #b01212;

    .navbar {
      padding: 15px 0px;
      margin: 0 -15px;

      .navbar-brand {
        width: 50%;
      }

      .nav-item {
        margin-bottom: 10px;

        &:first-child {
          margin-top: 15px;
        }

        .nav-link {
          color: #fff;

          &:after {
            background-color: #fff;
          }
        }
      }

      .navbar-toggler {
        border: none;
        padding: 0px;

        &:focus {
          outline: none;
        }

        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
      }
    }

    .banner-img {
      display: none;
    }

    .cls-1 {
      fill: #fff;
    }
  }

  @media only screen and (max-width: 600px) {
    .navbar {
      padding: 8px 0px;
    }
  }
}

.home-header {
  @media only screen and (max-width: 900px) {
    .cls-1 {
      fill: #fff !important;
    }

    .nav-item:last-child {
      .nav-link {
        padding-right: 20px !important;
      }
    }
  }
}

.scroll-header {
  background-color: #AA0202;
  transition: all ease 0.3s;
  z-index: 99999;

  .navbar {
    transition: all ease 0.3s;
    padding: 5px 0px;

    .nav-item {
      .nav-link {
        color: #fff;

        &:after {
          background-color: #fff;
        }
      }
    }

    .navbar-brand {
      svg {
        transition: all ease 0.3s;
        width: 105px;

        .cls-1 {
          fill: #fff;
        }

        @media only screen and (max-width: 768px) {
          width: 38%;
        }

        @media only screen and (max-width: 768px) {
          width: 55%;
        }
      }
    }
  }

  .cls-1 {
    fill: #fff;
  }
}

/* Portrait and Landscape */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .nav-item:last-child {
    .nav-link {
      padding-right: 20px !important;
    }
  }
}
