.preLine{
  white-space: pre-line;
}

.home {
  background: #000 url(../../assets/images/Banner-background.png) no-repeat fixed top;
  min-height: 100vh;
  background-size: cover;

  .banner {
    font-family: 'us', sans-serif;
    color: #000;

    .content {
      margin-bottom: 150px;
    }

    h1 {
      font-size: 95px;
      margin: 0px;
      line-height: 0.9;
      text-transform: uppercase;

      span {
        font-size: 124px;
      }
    }

    p {
      font-family: 'gotham', sans-serif;
      font-size: 16px;
      font-weight: 700;
      padding-top: 20px;
    }

    .banner-img {
      width: 40%;
      position: absolute;
      right: 0;
      top: 20%;
    }
  }

  .collection {
    height: 450px;

    .swiper-wrapper {
      .card {
        max-height: 350px;
        cursor: pointer;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 88%;
    width: 30px;
    height: 30px;
    text-align: center;
    background-size: 10px;
    margin-top: 5px;
    padding: 0px;
    border: 1px solid transparent;
    line-height: 2;
    background: #000;
    outline: none;
    background-image: none;
    transition: all ease-in-out 0.3s;

    @media screen and (min-width: 1280px) {
      top: 85%;
    }

    i {
      font-size: 30px;
      color: #fff;
      line-height: 1;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .swiper-button-next {
    right: 15px;

    &:hover {

      .icon {
        color: #333;
      }
    }
  }

  .swiper-button-prev {
    left: 92%;

    &:hover {

      .icon {
        color: #333;
      }
    }
  }

  @media only screen and (max-width: 990px) {
    .banner {
      .content {
        margin-bottom: 0px;
      }

      .banner-img {
        left: 0;
        width: 33%;
        position: relative;
        margin: auto;
      }

      h1 {
        font-size: 42px;

        span {
          font-size: 60px;
        }
      }

      p {
        font-size: 14px;
      }
    }

    .swiper-button-prev {
      left: 85%;
    }

    .swiper-button-next {
      right: 5%;
    }

    .home-footer {
      display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    .banner {
      .banner-img {
        width: 65%;
      }

      h1 {
        margin-top: 50px;
      }
    }

    .swiper-button-prev {
      left: 75%;
    }

    .custom-modal {
      .modal-dialog {
        .modal-content {
          button.close {
            top: 5px;
            right: 5px;
            font-size: 22px;
            width: 25px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    section {
      &.section {
        padding: 50px 0px;
      }
    }
  }

  .collection {
    .card {
      background: #fff;

      &:hover {
        opacity: 1;

        .card-body {
          -moz-transform: scale(0.75);
          -o-transform: scale(0.75);
          -ms-transform: scale(0.75);
          -webkit-transform: scale(0.75);
          transform: scale(0.75);
        }

        @media only screen and (max-width: 992px) {
          .card-body {
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            -webkit-transform: none;
            transform: none;
          }
        }
      }

      .card-body {
        h3 {
          font-size: 26px;
        }

        p {
          font-size: 16px;
        }

        img {
          width: 60%;
        }
      }

      @media only screen and (max-width: 992px) {
        .card-body {
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          -webkit-transform: scale(0.65);
          transform: scale(0.65);
        }

        .btn-primary {
          z-index: 1;
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .social-img {

    // [class*="col-"]{
    //  padding: 0px;
    // }
    .social-img-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-height: 350px;
      background-color: rgba(0, 0, 0, 0.85);
      color: #fff;
      text-align: center;
      opacity: 0;
      transition: all ease-in-out 0.3s;

      .content {
        margin-top: 40%;

        svg {
          width: 45px;
          height: 45px;

          g {
            path {
              fill: #ffffff;
            }
          }
        }

        a {
          color: #fff;
          outline: none;
        }
        p{
          margin-top:10px; 
        }
      }

      &:hover {
        opacity: 1;
        transition: all ease-in-out 0.3s;
      }
    }
  }
}

.custom-modal {
  .modal-dialog {
    margin-top: 50px;

    .modal-content {
      max-height: 565px;
      margin-top: 30px;
      margin-bottom: 30px;
      max-width: 465px;
      margin-left: auto;
      margin-right: auto;

      .modal-body {
        img {
          // width: 440px;
          padding-top: 30px;
          max-width: 375px;
        }
      }

      .social-icon {
        padding: 15px 30px;

        p {
          font-size: 13px;

          margin-bottom: 0.5rem;
          margin-left: auto;
          margin-right: auto;
        }

        a {
          color: #000;

          svg {
            width: 25px;
            height: 15px;

            .cls-1 {
              fill: #000000;
            }
          }

          #Layer_4-1 {
            g {
              path {
                fill: #000000;
              }
            }
          }
        }
      }

      .close {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 30px;
        z-index: 9999;
        width: 30px;
        border-radius: 50px;
      }
    }
  }
}

.is-out {
  transform: rotateX(0) rotateY(0) !important;
  transition-duration: 1s;
}

/* Portrait and Landscape */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .plr0 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner {
    background: #ffffff !important;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 12%, #ffffff 25%, #ffffff 39%, #ffffff 50%, #ffffff 55%, #ffffff 74%, #ffffff 78%, #ffffff 82%, #ffffff 86%, #ffffff 86%, #000000 87%, #000000 87%, #000000 87%, #000000 87%, #000000 89%, #000000 89%, #000000 90%, #000000 90%, #000000 91%, #000000 91%, #000000 91%, #000000 93%, #000000 93%, #000000 96%, #000000 96%, #000000 97%, #000000 100%) !important;
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 12%, #ffffff 25%, #ffffff 39%, #ffffff 50%, #ffffff 55%, #ffffff 74%, #ffffff 78%, #ffffff 82%, #ffffff 86%, #ffffff 86%, #000000 87%, #000000 87%, #000000 87%, #000000 87%, #000000 89%, #000000 89%, #000000 90%, #000000 90%, #000000 91%, #000000 91%, #000000 91%, #000000 93%, #000000 93%, #000000 96%, #000000 96%, #000000 97%, #000000 100%) !important;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 12%, #ffffff 25%, #ffffff 39%, #ffffff 50%, #ffffff 55%, #ffffff 74%, #ffffff 78%, #ffffff 82%, #ffffff 86%, #ffffff 86%, #000000 87%, #000000 87%, #000000 87%, #000000 87%, #000000 89%, #000000 89%, #000000 90%, #000000 90%, #000000 91%, #000000 91%, #000000 91%, #000000 93%, #000000 93%, #000000 96%, #000000 96%, #000000 97%, #000000 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0) !important;
  }

  section.section {
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 52%, #0e0e0e 52%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 52%, #0e0e0e 52%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 52%, #0e0e0e 52%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#0e0e0e', GradientType=0);
    /* IE6-9 */
    padding: 0px 0px !important;

    &.fp-section {
      .fp-tableCell {
        display: table-footer-group;
        padding-bottom: 0px;
      }
    }
  }

  .custom-modal {
    .modal-dialog {
      .modal-content {
        width: 95%;
        margin: auto;

        button.close {
          top: 5px;
          right: 5px;
          font-size: 22px;
          width: 25px;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .banner {
    background: #ffffff;

    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 76%, #000000 76%) !important;

    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 76%, #000000 76%) !important;

    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 76%, #000000 76%) !important;

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0) !important;
  }

  section.section {
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 52%, #0e0e0e 52%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 52%, #0e0e0e 52%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 52%, #0e0e0e 52%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#0e0e0e', GradientType=0);
    /* IE6-9 */
    padding: 0px 0px !important;

    &.fp-section {
      .fp-tableCell {
        display: table-footer-group;
        padding-bottom: 0px;
      }
    }
  }

  .swiper-wrapper {
    height: auto;
  }

  .swiper-button-prev {
    left: 35%;

    i {
      font-size: 40px;
    }
  }

  .swiper-button-next {
    right: 35%;

    i {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .banner {
    background: #ffffff !important;
    background: -moz-linear-gradient(top, #ffffff 90%, #0e0e0e 90%) !important;
    background: -webkit-linear-gradient(top, #ffffff 90%, #0e0e0e 90%) !important;
    background: linear-gradient(to bottom, #ffffff 90%, #0e0e0e 90%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#0e0e0e', GradientType=0);

    /* IE6-9 */
    .content {
      margin-bottom: 0px !important;
      margin-top: 50px !important;

      h1 {
        font-size: 80px !important;

        span {
          font-size: 100px !important;
        }
      }
    }

    .banner-img {
      top: 20% !important;
    }
  }

  section.section {
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 52%, #0e0e0e 52%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 52%, #0e0e0e 52%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 52%, #0e0e0e 52%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#0e0e0e', GradientType=0);
    /* IE6-9 */
    padding: 0px 0px !important;

    &.fp-section {
      .fp-tableCell {
        display: table-footer-group;
        padding-bottom: 0px;
      }
    }
  }
}


@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .banner {
    background: #ffffff !important;
    background: -moz-linear-gradient(top, #ffffff 90%, #0e0e0e 90%) !important;
    background: -webkit-linear-gradient(top, #ffffff 90%, #0e0e0e 90%) !important;
    background: linear-gradient(to bottom, #ffffff 90%, #0e0e0e 90%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#0e0e0e', GradientType=0);

    /* IE6-9 */
    .content {
      margin-bottom: 0px !important;
      margin-top: 50px !important;

      h1 {
        font-size: 80px !important;

        span {
          font-size: 100px !important;
        }
      }
    }

    .banner-img {
      top: 20% !important;
    }

    .custom-modal {
      .modal-dialog {
        .modal-content {
          button.close {
            top: 5px;
            right: 5px;
            font-size: 22px;
            width: 25px;
          }
        }
      }
    }
  }

  section.section {
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 52%, #0e0e0e 52%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 52%, #0e0e0e 52%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 52%, #0e0e0e 52%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#0e0e0e', GradientType=0);
    /* IE6-9 */
    padding: 0px 0px !important;

    &.fp-section {
      .fp-tableCell {
        display: table-footer-group;
        padding-bottom: 0px;
      }
    }
  }

  .custom-modal {
    .modal-dialog {
      .modal-content {
        button.close {
          top: 5px;
          right: 5px;
          font-size: 22px;
          width: 25px;
        }
      }
    }
  }
}
