<section class="container-fluid" id="contactus">
  <div class="container banner">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 col-md-8 fade-in-up">
        <p class="preLine">{{contactPara}}</p>
        <div>
          <h1 class="heading">STORES & SERVICES</h1>
          <form class="form-inline">
            <div class="btn-group">
              <!-- <button class="btn dropdown-toggle" data-toggle="dropdown">Store & Service <span class="caret"></span></button> -->
              <label for="storelist" class="selecticon">
                <select id="storelist" class="form-control" name="cat" [(ngModel)]="selectCat">
                  <option class="dropdown-item" value="storenservice" selected>Store & Service</option>
                  <option class="dropdown-item">store</option>
                  <option class="dropdown-item">service</option>
                </select>
              </label>
              
            </div>
            <div class="btn-group">
              <!-- <button class="btn dropdown-toggle" data-toggle="dropdown">Country <span class="caret"></span></button> -->
              <label for="countryName" class="selecticon">
                <select id="countryName" class="form-control" name="ctr" [(ngModel)]="selectedCountry">
                  <option class="dropdown-item" *ngFor="let countryName of countries" [ngValue]="countryName.country">{{countryName.country}}</option>
                </select>
              </label>
            </div>
            <div class="">
              <button class="btn theme-btn-red" (click)="filterData()">search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-md-4 fade-in-up">
        <img src={{contactImg}} class="img-fluid mt-3" alt="">
      </div>
      <div class="col-12 index-1">
        <div class="row">
          <div class="col-12 col-lg-3 col-md-4 address fade-in-up" *ngFor="let store of stores">
            <h4>{{store.name}}</h4>
            <div class="address-details">
              <p *ngIf="store.addr!=''">{{store.addr}}</p>
              <p *ngIf="store.tel!=''">Tel : {{store.tel}}</p>
              <p *ngIf="store.fax!=''">Fax : {{store.fax}}</p>
              <p *ngIf="store.email!=''">Email : {{store.email}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row contact-form" id="contactForm">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 col-md-6 fade-in-up">
          <h4>WE’D LOVE TO HEAR</h4>
          <h4>FROM YOU.</h4>
          <!-- <p>Just ask us, we are always happy to answer.</p> -->
          <div class="">
            <div class="social-icon mb-5">
              <div class="d-inline-block"><a href="{{global.fbLink}}"><img src="assets/images/fb.svg" alt=""></a></div>
              <div class="d-inline-block"><a href="{{global.twLink}}"><img src="assets/images/twitter.svg" alt=""></a></div>
              <div class="d-inline-block"><a href="{{global.ytLink}}"><img src="assets/images/youtube.svg" alt=""></a></div>
              <div class="d-inline-block"><a href="{{global.inLink}}"><img src="assets/images/insta.svg" alt=""></a></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 col-md-6 fade-in-up">
          <form class="" #contactus="ngForm" (ngSubmit)="onSubmit(contactus)">
            <div class="row">
              <div class="col-12 col-md-6">
                <span class="error" *ngIf="(firstName.touched||firstName.dirty) && firstName.invalid">
                  <span *ngIf="firstName.errors.required">Please enter the Valid Name</span>
                  <span *ngIf="firstName.errors.minlength">Must be at least 2 characters long</span>
                </span>
                <input type="text" name="firstName" class="form-control" placeholder="First Name" ngModel #firstName="ngModel" required minlength="2" />
              </div>
              <div class="col-12 col-md-6">
                <span class="error" *ngIf="(lastName.touched||lastName.dirty) && lastName.invalid">
                  <span *ngIf="lastName.errors.required">Please enter the Valid Name</span>
                  <span *ngIf="lastName.errors.minlength">Must be at least 1 characters</span>
                </span>
                <input type="text" name="lastName" class="form-control" placeholder="Last Name" ngModel #lastName="ngModel" required minlength="1" />
              </div>
              <div class="col-12 col-md-6">
                <span class="error" *ngIf="(company.touched||company.dirty) && company.invalid">
                  <span *ngIf="company.errors.required">Please enter the Company Name</span>
                  <span *ngIf="company.errors.minlength">Must be at least 2 characters long</span>
                </span>
                <input type="text" name="company" class="form-control" placeholder="Company" ngModel #company="ngModel" required minlength="2" />
              </div>
              <div class="col-12 col-md-6">
                <span class="error" *ngIf="(email.touched||email.dirty) && email.invalid">
                  <span *ngIf="email.errors.required">Please enter the Valid Email</span>
                  <span *ngIf="email.errors.minlength">Must be at least 5 characters long</span>
                </span>
                <input type="email" name="email" class="form-control" placeholder="Email" ngModel #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="5" />
              </div>
              <div class="col-12 col-md-6">
                <span class="error" *ngIf="(city.touched||city.dirty) && city.invalid">
                  <span *ngIf="city.errors.required">Please enter the City Name</span>
                  <span *ngIf="city.errors.minlength">Must be at least 2 characters long</span>
                </span>
                <input type="text" name="city" class="form-control" placeholder="City" ngModel #city="ngModel" required/>
              </div>
              <div class="col-12 col-md-6">
                <span class="error" *ngIf="(number.touched||number.dirty) && number.invalid">
                  <span *ngIf="number.errors.required">Please enter the valid Number</span>
                  <span *ngIf="number.errors.minlength">Must be at least 10 digits long</span>
                </span>
                <input type="tel" name="number" class="form-control" placeholder="Mobile No." ngModel #number="ngModel" required minlength="10"/>
              </div>
              <div class="col-12 col-md-6">
                <span class="error" *ngIf="(country.touched||country.dirty) && country.invalid">
                  <span *ngIf="country.errors.required">Please enter the Country Name</span>
                  <span *ngIf="country.errors.minlength">Must be at least 2 characters long</span>
                </span>
                <input type="text" name="country" class="form-control" placeholder="Country" ngModel #country="ngModel" required minlength="2"/>
              </div>
              <div class="col-12 col-md-6">
                <span class="error" *ngIf="enquiries.touched && !enquiries.valid ">Please select</span>
                <label for="selectable" class="selecticon">
                  <select id="selectable" class="form-control" ngModel #enquiries="ngModel" name="enquiries" required>
                    <option value="">Enquiries</option>
                    <option value="Watch Repair">Watch Repair</option>
                    <option value="General Feedback">General Feedback</option>
                    <option value="Trade Enquiries">Trade Enquiries</option>
                    <option value="Corporate Orders">Corporate Orders</option>
                    <option value="Warranty">Warranty</option>
                    <option value="Careers">Careers</option>
                    <option value="Others">Others</option>
                  </select>
                </label>
              </div>
              <div class="col-12">
                <textarea class="form-control" name="message" rows="3" placeholder="Message" ngModel #message="ngModel"></textarea>
                <span style="color: red">{{msg}}</span>
              </div>
              <div class="col-12">
                <input type="submit" name="" value="Submit" class="btn theme-btn-red float-right">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>