.preLine{
    white-space: pre-line;
}

#contactus {
    // background: #000 url(../../assets/images/contact-bg.png) center no-repeat;
    background-position: top;

    .banner {
        // min-height: 100vh;
        // height: 100vh;
        padding-top: 150px;
        padding-bottom: 80px;

        p {
            color: #000;
            font-weight: 700;
            line-height: 1.8;
            letter-spacing: 0px;
        }

        .form-inline {
            .btn-group {
                width: 190px;
                padding: 5px;

                label {
                    width: 100%;
                    #storelist{
                        text-transform:capitalize;
                    }
                    .form-control {
                        width: 100%;
                    }
                }
            }

            .theme-btn-red {
                padding: 6px 30px;
            }

            .selecticon {
                position: relative;
                display: block;
                overflow: hidden;
                cursor: pointer;

                &:after {
                    content: ' ';
                    position: absolute;
                    right: 7px;
                    top: 7px;
                    width: 15px;
                    height: 60%;
                    display: block;
                    background: transparent url("../../assets/images/drop.svg") no-repeat center center;
                    pointer-events: none;
                    opacity: 0.3;
                }
            }
        }
    }

    .index-1 {
        z-index: -1;
    }

    .dropdown-toggle {
        min-width: 160px;
        text-align: left;
        border-radius: 0px;
        background: transparent;
        border: 1px solid #000;
        color: #000;
        margin-right: 10px;
    }

    .dropdown-menu {
        border-radius: 0px;
        background: #fff;
    }

    .dropdown-item.active, .dropdown-item:active {
        background-color: #ccc;
    }

    .dropdown-toggle::after {
        position: absolute;
        right: 10px;
        top: 50%;
    }

    .heading {
        color: #000;
        font-size: 28px;
        font-family: 'us';
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .address {
        margin-top: 50px;

        p {
            margin-bottom: 0px;
            font-size: 14px;
            line-height: 1.5;
            font-weight: 700;
        }

        h4 {
            color: #000;
            font-size: 20px;
            font-family: 'us';
        }

        .address-details {
            opacity: 0.7;
        }
    }

    .selecticon {
        position: relative;
        display: block;
        overflow: hidden;
        cursor: pointer;

        &:after {
            content: ' ';
            position: absolute;
            right: 0;
            top: 0;
            width: 15px;
            height: 60%;
            display: block;
            background: transparent url("../../assets/images/drop.svg") no-repeat center center;
            pointer-events: none;
            opacity: 0.3;
        }
    }

    select {
        color: #6b747d !important;
    }

    .contact-form {
        background: #fff;
        padding-top: 100px;
        padding-bottom: 100px;

        .form-control {
            margin-bottom: 30px;
            border: 0px;
            border-bottom: 1px solid #ccc;
            border-radius: 0px;
            outline: none;
            box-shadow: none;
        }

        .social-icon {
            margin-top: 30px;

            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }

        .error {
            color: red;
            font-size: 12px;
            position: absolute;
            right: 18px;
        }
    }

    @media only screen and (max-width: 480px) and (min-width: 320px) {
        .form-inline {
            .btn-group {
                width: 100% !important;
            }

            button {
                text-align: center;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .banner {
            padding-top: 80px;
        }
    }
}
*::-webkit-input-placeholder {
    color: #5f6165;
    }